## 타이타닉 생존자 예측
- 이진 분류 모델
1. 문제정의
2. 데이터 수집
3. 데이터 전처리
4. ML 알고리즘 적용
5. 성능평가

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
file_path = "./data/titanic/"
# titanic_df = pd.read_csv(file_path+'titanic_train.csv', index_col=0)
titanic_train_df = pd.read_csv(file_path+'titanic_train.csv')
x_titanic_test_df = pd.read_csv(file_path+'titanic_test.csv')
y_titanic_test_df = pd.read_csv(file_path+'titanic_gender_submission.csv')
x_titanic_test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [2]:
def fillna(df):
    df['Age'].fillna(df['Age'].mean(), inplace = True)
    df['Cabin'].fillna('N', inplace = True)
    df['Embarked'].fillna('N', inplace = True)
    df['Fare'].fillna(0, inplace = True)
    return df

def drop_features(df):
    df.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace = True)
    return df

def format_features(df):
    df['Cabin'] = df['Cabin'].str[:1]
    features = ['Cabin', 'Sex', 'Embarked']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df

def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [3]:
y_titanic_train_df = titanic_train_df['Survived']
x_titanic_train_df = titanic_train_df.drop('Survived', axis=1)
x_titanic_train_df = transform_features(x_titanic_train_df)
y_titanic_test_df = y_titanic_test_df['Survived']
x_titanic_test_df = transform_features(x_titanic_test_df)
y_titanic_test_df

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(x_titanic_train_df, y_titanic_train_df, test_size=0.2, random_state=11)

In [5]:
titanic_clf = DecisionTreeClassifier(random_state=10)

# 학습 수행
titanic_clf.fit(X_train, y_train)
pred = titanic_clf.predict(X_test)
print('예측 정확도 : {0:.4f}'.format(accuracy_score(y_test, pred)))

예측 정확도 : 0.7989

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# DecisionTreeClassifier 객체 생성
titanic_clf = DecisionTreeClassifier(random_state=10)

# 학습 수행
titanic_clf.fit(x_titanic_train_df, y_titanic_train_df)
pred = titanic_clf.predict(x_titanic_test_df)
print('예측 정확도 : {0:.4f}'.format(accuracy_score(y_titanic_test_df, pred)))

예측 정확도 : 0.7512

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

# 결정트리, Random Forest, 로지스틱 회귀를 위한 사이킷렁 Classifier 클래스 생성
dt_clf = DecisionTreeClassifier(random_state=11)
rf_clf = RandomForestClassifier(random_state=11)
lr_clf = LogisticRegression()

# DecisionTreeClassifier 학습/예측/평가
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print("DecisionTreeClassifier 정확도 : {0:.4f}".format(accuracy_score(y_test, dt_pred)))

# RandomForestClassifier 학습/예측/평가
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
print("RandomForestClassifier 정확도 : {0:.4f}".format(accuracy_score(y_test, rf_pred)))

# LogisticRegression 학습/예측/평가
lr_clf.fit(X_train, y_train)
lr_pred = lr_clf.predict(X_test)
print("LogisticRegression 정확도 : {0:.4f}".format(accuracy_score(y_test, lr_pred)))

DecisionTreeClassifier 정확도 : 0.7877
RandomForestClassifier 정확도 : 0.8547
LogisticRegression 정확도 : 0.8492

C:\Users\minch\anaconda3\envs\abangues\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [68]:
from sklearn.model_selection import KFold
import numpy as np
kfold = KFold(n_splits = 5)
cv_accuracy = []
n_iter = 0
# KFold 객체의 split()를 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를  array로 반환
print(type(x_titanic_train_df))
for train_index, test_index in kfold.split(x_titanic_train_df):
    # kfold.split()으로 반환된 인덱스를 이용해 학습용, 검증용 테스트 데이터 추출
    x_train, x_test = x_titanic_train_df.values[train_index], x_titanic_train_df.values[test_index]
    y_train, y_test = y_titanic_train_df.values[train_index], y_titanic_train_df.values[test_index]
    
    # 학습 및 예측
    dt_clf.fit(x_train, y_train)
    pred = dt_clf.predict(x_test)
    n_iter += 1
    
    # 반복 시마다 정확도 측정
    accuracy = accuracy_score(y_test, pred)
    
    
    print("\n#{0} 교차 검증 정확도 : {1:.4f}".format(n_iter, accuracy))
    
    cv_accuracy.append(accuracy)
    mean_score = np.mean(cv_accuracy)
# 개별 iteration 별 정확도를 합하여 평균 정확도 계산
print("\n## 평균 검증 정확도 {0:.4f}".format(mean_score))

<class 'pandas.core.frame.DataFrame'>

#1 교차 검증 정확도 : 0.7542

#2 교차 검증 정확도 : 0.7809

#3 교차 검증 정확도 : 0.7865

#4 교차 검증 정확도 : 0.7697

#5 교차 검증 정확도 : 0.8202

## 평균 검증 정확도 0.7823

In [84]:
from sklearn.model_selection import StratifiedKFold
skfold = StratifiedKFold(n_splits=5)
cv_accuracy = []
n_iter = 0
for train_index, test_index in skfold.split(x_titanic_train_df, y_titanic_train_df):
    x_train, x_test = x_titanic_train_df.iloc[train_index], x_titanic_train_df.iloc[test_index]
    y_train, y_test = y_titanic_train_df.iloc[train_index], y_titanic_train_df.iloc[test_index]
    
    # 학습 및 예측
    dt_clf.fit(x_train, y_train)
    pred = dt_clf.predict(x_test)
    n_iter += 1
    
    # 반복 시마다 정확도 측정
    accuracy = np.round(accuracy_score(y_test, pred), 4)
    train_size = x_train.shape[0]
    test_size = x_test.shape[0]
    
    print("\n#{0} 교차 검증 정확도 : {1}, 학습데이터 크기 : {2}, 검증 데이터 크기 : {3}".format(n_iter, accuracy, train_size, test_size))
#     print("#{0} 검증 세트 인덱스 : {1}".format(n_iter, test_index))
    cv_accuracy.append(accuracy)

# 개별 iteration 별 정확도를 합하여 평균 정확도 계산
print("\n## 교차 검증별 정확도", np.round(cv_accuracy,4))
print("\n## 평균 검증 정확도", np.mean(cv_accuracy))

#1 교차 검증 정확도 : 0.743, 학습데이터 크기 : 712, 검증 데이터 크기 : 179

#2 교차 검증 정확도 : 0.7753, 학습데이터 크기 : 713, 검증 데이터 크기 : 178

#3 교차 검증 정확도 : 0.7921, 학습데이터 크기 : 713, 검증 데이터 크기 : 178

#4 교차 검증 정확도 : 0.7865, 학습데이터 크기 : 713, 검증 데이터 크기 : 178

#5 교차 검증 정확도 : 0.8427, 학습데이터 크기 : 713, 검증 데이터 크기 : 178

## 교차 검증별 정확도 [0.743  0.7753 0.7921 0.7865 0.8427]

## 평균 검증 정확도 0.78792

In [83]:
from sklearn.model_selection import cross_val_score, cross_validate


# 성능 지표는 정확도(accuray), 교차 검증 세트는 3개
scores = cross_val_score(dt_clf, x_titanic_train_df, y_titanic_train_df, scoring='accuracy', cv=5)
print('교차 검증별 평균 정확도', np.round(scores,4))
print('평균 검증 정확도', np.round(np.mean(scores),4))

교차 검증별 평균 정확도 [0.743  0.7753 0.7921 0.7865 0.8427]
평균 검증 정확도 0.7879

In [108]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score

x_train, x_test, y_train, y_test = train_test_split(x_titanic_train_df, y_titanic_train_df, test_size=0.2, random_state = 121)
grid_dclf = DecisionTreeClassifier()

parameters = {'max_depth':[2,3,5,10], 'min_samples_split':[2,3,5], 'min_samples_leaf':[1,5,8]}
grid_dclf = GridSearchCV(dtree, param_grid=parameters, cv=5, refit=True)
grid_dclf.fit(x_train, y_train)
print("GridSearchCV 최적 하이퍼 파라미터",grid_dclf.best_params_)
print("GridSearchCV 최고 정확도: {0:.4f}".format(grid_dclf.best_score_))
best_dclf = grid_dclf.best_estimator_
dpredictions = best_dclf.predict(x_test)
accuracy = accuracy_score(y_test, dpredictions)
precision = precision_score(y_test, dpredictions)
recall = recall_score(y_test, dpredictions)

print("테스트 세트에서의 DecisionTreeClassifier정확도 : {0:.4f}".format(accuracy))
print("테스트 세트에서의 DecisionTreeClassifier정확도 : {0:.4f}".format(precision))
print("테스트 세트에서의 DecisionTreeClassifier정확도 : {0:.4f}".format(recall))

GridSearchCV 최적 하이퍼 파라미터 {'max_depth': 3, 'min_samples_leaf': 5, 'min_samples_split': 2}
GridSearchCV 최고 정확도: 0.8328
테스트 세트에서의 DecisionTreeClassifier정확도 : 0.8045
테스트 세트에서의 DecisionTreeClassifier정확도 : 0.7937
테스트 세트에서의 DecisionTreeClassifier정확도 : 0.6944

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.datasets import load_iris
iris_data = load_iris
# export_graphviz()의 호출결과로 out_file로 지정된 tree.dot 파일을 생성함
export_graphvia(dt_clf, out_file="tree.dot", class_names=iris_data.target_names, feature_names = iris_data.feature_names, impurity=True, filled=True)

In [2]:
import graphviz
with open("tree.dot") as f:
    dot_graph = f.read()
graphviz.Source(dot_graph)